@media  (max-width: 767px) {
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

}
.header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: larger;
    padding-left: 20px;
    background-color: transparent;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
   

}

.login-form{
    font-size: x-large;
    background-color: transparent;
    height: 350px;
    width: 397px;
    border-radius: 25px;
    border: 1px solid blue;
}

.login-txt{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 50px;

}
.inp{
    
    height: 55px;
    border-radius: 30px;
    width: 300px;
    display: flex;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: large;
}

.inplog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-left: 123px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.ankertag{
    height: 30px;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 10px;
}

.footer{
   

  
    height: 130px;
    font-size: 21px;
   

}
.footer-p{
    display: flex;
    
}
.footer-para{
    margin-top: 10px;
    
    justify-content: center;
    padding-left: 35px;
    
}
.footer-icon{
    display: flex;
    margin-top: 20px;
}
#icon1{
    margin-left: 90px;
    font-size: larger;
    height: 46px;
    width: 50px;

}
#icon2{
   font-size: larger;
    height: 46px;
    width: 50px;
    margin-left: 40px;
}
#icon3{
    font-size: larger;
    margin-left: 40px;
    height: 46px;
    width: 50px;

}  
}

 @media (min-width: 768px){
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

}
.header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100PX;
    width: 100%;
    font-size: xx-large;
    padding-left: 20px;
   
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 488px;
   

}
.login-form{
    font-size: large;
    background-color: transparent;
    height: 300px;
    width: 367px;
    border-radius: 25px;
    border: 3px solid blue;
}
.login-txt{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 50px;

}
.inp{
    
    height: 29px;
    border-radius: 30px;
    width: 300px;
    display: flex;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: large;
}
.inplog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    margin-left: 123px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.ankertag{
    height: 30px;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 10px;
}

.footer{
   

  
    height: 130px;
    font-size: 21px;
   

}
.footer-p{
    display: flex;
    width: 100%;
}
.footer-para{
    margin-top: 10px;
    width: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
   
}
#icon1{
    
    font-size: larger;
    height: 46px;
    width: 50px;
   

}
#icon2{
   font-size: larger;
    height: 46px;
    width: 50px;
    margin-left: 40px;
    
}
#icon3{
    font-size: larger;
    margin-left: 40px;
    height: 46px;
    width: 50px;
   
}
} 